<!DOCTYPE html> 
<html class="has-navbar-fixed-top">
    <meta charset = "UTF-8">
    <head>
        {{> metadata title="Character popularity"}}
    </head>
    <body>
        {{> navbar}}
        <section class="hero is-primary">
            <div class="hero-body has-text-centered">
                <p class="title">Character popularity</p>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="content">
                    <p>Each row shows popularity for that character within the rating range, with colors indicating how much more or less popular it is than the baseline global popularity. Data is from the last week of games.</p>
                    <div class="table-container">
                    <table class="table is-bordered">
                        <tr>
                            <th>&nbsp;</th>
                            {{#each character_shortnames}}
                                <th>{{this}}</th>
                            {{/each}}
                        </tr>
                        <tr>
                            <th>Overall</th>
                            {{#each global_character_popularity}}
                                <td>{{this}}%</td>
                            {{/each}}
                        </tr>

                        {{#each rank_character_popularity}}
                            <tr>
                                <th>{{this.rating_min}}–{{this.rating_max}}</th>
                                {{#each characters}}
                                    <td class="{{this.evaluation}}" title="Delta: {{this.delta}}%">
                                        {{this.popularity}}%
                                    </td>
                                {{/each}}
                            </tr>
                        {{/each}}
                    </table>
                    </div>
                    <h2> Fraud index</h2>
                    <p>For fun, I've calculated a "fraud index" estimating how much playing a character boosts your rating. This is done by looking at players who've got multiple characters with ≥400 games and ≤150 deviation, looking at their average rating, and then checking to see how far away their various characters are from the average. This isn't a perfect method, but I hope it yields interesting results. Middle table limits to people with an average rating over 1500, right is 1800 (a lot!)</p>
                    <div class="columns">
                        <div class="column">
                            <table class="table is-bordered">
                            <tr>
                                <th colspan="2">All</th>
                            </tr>
                            <tr>
                                <th>Character</th>
                                <th>Rating offset</th>
                            </tr>
                                {{#each fraud_stats}} 
                                    <tr>
                                        <td>{{this.character_name}}</td>
                                        <td title="{{this.player_count}} players">{{this.average_offset}}</td>
                                    </tr>
                                {{/each}}
                            </table>
                        </div>
                        <div class="column">
                            <table class="table is-bordered">
                            <tr>
                                <th colspan="2">≥1500 Average Rating</th>
                            </tr>
                            <tr>
                                <th>Character</th>
                                <th>Rating offset</th>
                            </tr>
                                {{#each fraud_stats_higher_rated}} 
                                    <tr>
                                        <td>{{this.character_name}}</td>
                                        <td title="{{this.player_count}} players">{{this.average_offset}}</td>
                                    </tr>
                                {{/each}}
                            </table>
                        </div>
                        <div class="column">
                            <table class="table is-bordered">
                            <tr>
                                <th colspan="2">≥1800 Average Rating</th>
                            </tr>
                            <tr>
                                <th>Character</th>
                                <th>Rating offset</th>
                            </tr>
                                {{#each fraud_stats_highest_rated}} 
                                    <tr>
                                        <td>{{this.character_name}}</td>
                                        <td title="{{this.player_count}} players">{{this.average_offset}}</td>
                                    </tr>
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    {{> footer }}
</html>
