<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
  </head>

  <body>
    {{#if history}}
      <h2>Match History</h2>
      <div class="table-container">
        <table>
          <tr>
            <th>Date</th>
            <th>Rating</th>
            <th>Floor</th>
            <th>Opponent</th>
            <th>Character</th>
            <th>Rating</th>
            <th>Odds</th>
            <th>Result</th>
            <th>Rating change</th>
          </tr>
          {{#each history}}
            <tr>
              <td>{{this.timestamp}}</td>
              {{#if ../cheater_status}}
                <td><span class="cheater">Cheater</span></td>
              {{else}}
                <td>{{this.own_rating_value}} ±{{this.own_rating_deviation}}</td>
              {{/if}}
              <td>{{this.floor}}</td>
              <td>{{>player_link
                            name=this.opponent_name 
                            id=this.opponent_id char=this.opponent_character_short
                            vip_status=this.opponent_vip
                            }}
              </td>
              <td>{{this.opponent_character}}</td>
              <td>
                {{#if this.opponent_cheater}}
                  <span class="cheater">Cheater</span>
                {{else}}
                  {{this.opponent_rating_value}} ±{{this.opponent_rating_deviation}}
              </td>
        {{/if}}
          <td>
            {{#if this.opponent_cheater}}
              <span class="cheater">Cheater</span>
            {{else}}
              {{#if ../cheater_status}}
                <span class="cheater">Cheater</span>
              {{else}}
                {{this.expected_outcome}}
              {{/if}}
            {{/if}}
          </td>
          <td><span title="{{this.result_percent}}%">{{this.result_wins}} - {{this.result_losses}}</span></td>
          <td><span title="{{this.rating_change_sequence}}" class="{{this.rating_change_class}}">{{this.rating_change}}</span></td>
        </tr>
        {{/each}}
        </table>
      </div>
  {{/if}}
  </body>
</html>
