<!DOCTYPE html> 
<html class="has-navbar-fixed-top">
    <meta charset = "UTF-8">
    <head>
        {{> metadata title="Player Distribution"}}
    </head>
    <body>
        {{> navbar}}
        <section class="hero is-primary">
            <div class="hero-body has-text-centered">
                <p class="title">Player Distribution ({{platform}})</p>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="content">
                    <p>This table is based on games played during the last two weeks.
                    <div class="table-container">
                    <table class="table is-bordered">
                        <tr>
                            <th>Floor</th>
                            <th>Players</th>
                            <th>Games Played</th>
                        </tr>
                        {{#each floors}}
                            <tr>
                                <td>{{this.floor}}</td>
                                <td><span title="{{this.player_count}} players">{{this.player_percentage}}%</span></td>
                                <td><span title="{{this.game_count}} games">{{this.game_percentage}}%</span></td>
                            </tr>
                        {{/each}}
                    </table>
                    </div>
                    <div class="table-container">
                    <table class="table is-bordered">
                        <tr>
                            <th>Rating</th>
                            <th>Players</th>
                            <th>Percentile</th>
                        </tr>
                        {{#each ratings}}
                            <tr>
                                <td>{{this.min_rating}}–{{this.max_rating}}</td>
                                <td><span title="{{this.player_count}} players">{{this.player_percentage}}%</span></td>
                                <td><span title="{{this.player_count_cum}} players at or below this rating">{{this.player_percentage_cum}}%</span></td>
                            </tr>
                        {{/each}}
                    </table>
                    </div>
                </div>
            </div>
        </section>
    </body>
    {{> footer }}
</html>
