<!DOCTYPE html> 
<html class="has-navbar-fixed-top">
    <meta charset = "UTF-8">
    <head>
        {{> metadata title=search_string}}
    </head>
    <body>
        {{> navbar}}
        <section class="hero is-primary">
            <div class="hero-body has-text-centered">
                <p class="title">Search: "{{search_string}}"</p>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="content">
                    <div class="table-container">
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Character</th>
                                <th>Rating</th>
                                <th>Games played</th>
                            </tr>
                            {{#each players}}
                                <tr>
                                    <td>{{>player_link 
                                        name=this.name 
                                        platform=this.platform 
                                        id=this.id 
                                        char=this.character_short 
                                        vip_status=this.vip_status
                                    }}</td>
                                    <td>{{this.character}}</td>
                                    {{#if this.cheater_status}}
                                        <td><span class="cheater">Cheater</span></td>
                                    {{else}}
                                        <td>{{this.rating_value}} ±{{this.rating_deviation}}</td>
                                    {{/if}}
                                    <td>{{this.game_count}}</td>
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </body>
    {{> footer }}
</html>
