<!DOCTYPE html> 
<html class="has-navbar-fixed-top">
    <meta charset = "UTF-8">
    <head>
        {{> metadata title="Stats"}}
    </head>
    <body>
        {{> navbar}}
        <section class="hero is-primary">
            <div class="hero-body has-text-centered">
                <p class="title">Stats ({{platform}})</p>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="content">
                    {{#if stats.game_count}}
                    Data from {{stats.game_count}} games between {{stats.player_count}} players.<br>
                    Leaderboards require a rating deviation ≤150.<br>
                    Time until next update is {{stats.next_update_in}} (last update was at {{stats.last_update_string}}.)
                    {{/if}}
                </div>
            </div>
        </section>
    </body>
    {{> footer }}
</html>
