<!DOCTYPE html> 
<html class="has-navbar-fixed-top">
    <meta charset = "UTF-8">
    <head>
        {{> metadata title=character}}
    </head>
    <body>
        {{> navbar}}
        <section class="hero is-primary">
            <div class="hero-body has-text-centered">
                <p class="title">Top 100: {{character}} Leaderboard</p>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="content">
                    <div class="table-container">
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Rating</th>
                            <th>Games played</th>
                        </tr>
                        {{#each players}}
                            <tr>
                                <td>{{this.pos}}</td>
                                <td>{{>player_link name=this.name id=this.id char=this.character_short vip_status=this.vip_status}}</td>
                                <td>{{this.rating_value}} ±{{this.rating_deviation}}</td>
                                <td>{{this.game_count}}</td>
                            </tr>
                        {{/each}}
                    </table>
                    </div>
                </div>
            </div>
        </section>
    </body>
    {{> footer }}
</html>
