<!DOCTYPE html> 
<html>
    <meta charset = "UTF-8">
    <head>
        <title>RATING UPDATE</title>
        <meta property="og:title" content="RATING UPDATE"/>
        <meta property="og:type" content="website" />
        <meta property="og:description" content="The 100 rated {{character}} players." />
        <link href="/style.css" rel="stylesheet" type="text/css">
        <!--Look, if you think you can make this website look better, DM a CSS file to @sov_gott_games or maybe open an issue. -->
    </head>
    <body>
        {{> header stats}}

        <div>
            |
            {{#each all_characters}}
            <a href="/top/{{this.[0]}}">{{this.[1]}}</a>
            |
            {{/each}}
        </div>
        <h2>
            {{character}}
        </h2>
        <br>
        <div>
            <table>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Games played</th>
                </tr>
                {{#each players}}
                    <tr>
                        <td>{{this.pos}}</td>
                        <td>{{>player_link name=this.name id=this.id char=this.character_short}}</td>
                        <td>{{this.rating_value}} ±{{this.rating_deviation}}</td>
                        <td>{{this.game_count}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </body>
</html>
