<!DOCTYPE html> 
<html>
    <meta charset = "UTF-8">
    <head>
        <title>Top 100 | RATING UPDATE</title>
        <meta property="og:title" content="RATING UPDATE"/>
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/android-chrome-192x192.png">
        <meta property="og:description" content="Glicko2 ratings for Guilty Gear Strive" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link href="/style.css" rel="stylesheet" type="text/css">
        <!--Look, if you think you can make this website look better, DM a CSS file to @sov_gott_games or maybe open an issue. -->
    </head>
    <body>
        {{> header}}
    
        <div>
            <table>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Character</th>
                    <th>Rating</th>
                    <th>Games played</th>
                </tr>
                {{#each players}}
                    <tr>
                        <td>{{this.pos}}</td>
                        <td>{{>player_link name=this.name id=this.id char=this.character_short vip_status=this.vip_status}}</td>
                        <td>{{this.character}}</td>
                        <td>{{this.rating_value}} ±{{this.rating_deviation}}</td>
                        <td>{{this.game_count}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </body>
</html>
